* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #e8e8e8;
}

#root {
  width: 375px;
  min-height: 100vh;
  margin: auto;
  background: #f7f8f9;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
}